p.primerImg{
	text-align: center;
}
body.first{
	background-color: #DFD3B6;
}
h1.title{
	font-family: Comic;
}
body.place{
	background-color: #D8C19F;
}
h3.pt{
	font-family: 'Lobster', cursive;
	text-align: center;
}
h3.ht{
	font-family: 'Lobster', cursive;
}

